.fa-check-circle {
  color: #28a745;
}

.fa-times-circle {
  color: #dc3545;
}

.centrado {
  text-align: center;
}

.numero {
  width: 10%;
  text-align: right;
}

.description {
  width: 40%;
}

.descriptionShort {
  width: 25%;
}

.id {
  width: 5%;
}

.clave {
  width: 10%;
}

.fecha {
  width: 10%;
  text-align: center;
}

.acciones {
  text-align: center;
  width: 15%;
}

.img-thumbnail {
  max-width: 30%;
  max-height: 30%;
  text-align: center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #333333;
  margin-top: 0;
}
p {
  color: #666666;
  line-height: 1.5;
  font-size: 10px; /* Tamaño de letra de los párrafos */
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px; /* Tamaño de letra de los párrafos */
}
th, td {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}
th {
  text-align: left;
  font-weight: bold;
}
.number th {
  text-align: right;
  font-weight: bold;
}
tfoot td {
  text-align: right;
  font-weight: bold;
}
foot {
  color: #666666;
  font-size: 8px; /* Tamaño de letra de los párrafos */
}
